<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Récapitulatif de commande</h1>
    <p>
      Merci de ton achat chez WebCat !
    </p>
    <p>
      Tu peux accéder à ta commande ci-dessous :
    </p>
      <% @items.each do |item| %>
        <%= item.title %>
        <%= item.image_url %>
      <% end %>
    <p> Tu recevras tes posters sous peu.</p>
  </body>
</html>