<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Nouvelle commande</h1>
    <p>
      L'utilisateur <%= @user.email %> vient de faire une commande
    </p>
  </body>
</html>