<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Salut et bienvenue chez WebCat !</h1>
    <p>
      Tu t'es inscrit sur WebCat.fr en utilisant l'e-mail suivant : <%= @user.email %>.
    </p>
    <p>
      Tu peux poursuivre ta navigation en cliquant ici : <%= @url %>.
    </p>
    <p> À très vite sur WebCat.fr !
  </body>
</html>