<div class="container">
<h1>Bienvenue ! </h1>
<br>
<br>
<h2 class="display-4-selection text-center mb-5"> Découvrez notre sélection de chatons (<%= @items.size %>)</h2>



<%= render partial: "items/list", locals: {items: @items.sort_by(&:created_at).reverse} %>

</div>
