<div class="container">

<h1>Bienvenue ! </h1>
<br>
<br>
<h2 class="display-4-selection text-center mb-5"> Découvrez notre sélection de chatons (<%= @items.size %>)</h2>

<% @items.each do |item| %>
 <img src="<%= item.image_url %>">
  <%= link_to item.title,  item_path(item.id) %>
  <%= button_to "Ajouter au panier", carts_path(:item_id => item.id), method: "post", class: 'btn btn-outline-primary' %>
<%end %>

</div>
